.all{ 
    background: #6893ee;
    border-radius: 20%;
    height: 80px;
    width: 80px;
    text-align: center;
    margin-left: -130px;
    margin-top: -80px;
}   
.all a{ 
    text-decoration: none;
    font-size: 18px;
}
.on-Time{ 
    background: #6893ee;
    border-radius: 20%;
    height: 80px;
    width: 80px;
    text-align: center;
    margin-left: 30px;
    margin-top: -80px;
}
.on-Time a{ 
    text-decoration: none;
    font-size: 18px;
}
.Late{ 
    background: #6893ee;
    border-radius: 20%;
    height: 80px;
    width: 80px;
    text-align: center;
    margin-left: 30px;
    margin-top: -80px;
}
.Late a{ 
    text-decoration: none;
    font-size: 18px;
}
.Miss{ 
    background: #6893ee;
    border-radius: 20%;
    height: 80px;
    width: 80px;
    text-align: center;
    margin-left: 30px;
    margin-top: -80px;
}
.Miss a{ 
    text-decoration: none;
    font-size: 18px;
}

.btn{ 
    font-family: "Century Gothic" , sans-serif;
    font-size: 25px;
    padding-left: 80px;
    text-align: center;
    text-decoration: none;
    color: black;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
     
}
.Klase{ 
    display:inline-flex;
    padding-left: 20%;
    padding-top: 10%;
    text-align: center;
}
.all:hover{ 
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.Late:hover{ 
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.Miss:hover{ 
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.on-Time:hover{ 
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* Table*/
.table{ 
    margin-left: 5px;
    margin-top: 3%;
    text-align: center;
    width: 90%;
    border-radius: 5px;
    font-family: 'Century Gothic';
    overflow: scroll;
}
.table thead tr th { 
    font-size: 16px;
}
.name{ 
    max-width: 100px;
}

.table .thead tr th{
    font-weight: 600;
    letter-spacing: 0.20px;
    opacity: 1;
    padding: 10px;
    vertical-align: top;
}
.table tbody tr td{ 
    font-size: 16px;
    letter-spacing:  0.35px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 10%;
    text-overflow: ellipsis;
    
}
.table .view { 
    text-decoration: none;
    line-height: 30px;
    width: 40%;
    background-color: #6893ee;
    border-radius: 10px;
    margin-left: 10px;
    display:inline-block;
    font-size: 14px;
    align-items: center;
    border: none;
}

/*search*/
.search{ 
    margin-left: 65%;
}
.search input{ 
    width: 250px;
    height: 35px;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Century Gothic';
    text-align: center;
    border-color: #6893ee;
}
@media only screen and (max-width: 768px) {
  .search {
    margin-left: 0;
    text-align: center;
  }

  .search input {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
}
.flex .search1{ 
    margin-left: 30%;
    width: 250px;
    height: 35px;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Century Gothic';
    text-align: center;
    border-color: #6893ee;
    
}
.search2 input{ 
  margin-left: 50%;
  width: 250px;
  height: 35px;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Century Gothic';
  text-align: center;
  border-color: #6893ee;
  
}
@media only screen and (max-width: 768px) {
  .search2 {
    margin-left: 0;
    text-align: center;
  }

  .search2 input {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
}
.search3 input{ 
  margin-left: 70%;
  width: 300px;
  height: 35px;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Century Gothic';
  text-align: center;
  border-color: #6893ee;
  
}
@media only screen and (max-width: 768px) {
  .search3 {
    margin-left: 0;
    text-align: center;
  }

  .search3 input {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
}
.extra-textbox .GradeText{ 
    background-color: white;
    margin-top: 3%;
    justify-content: center;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border-color: #6893ee;
    text-align: center;
    font-size: 16px;



}

/*--------adminnn lang to --------*/

/* Default styles */
.iconn-case {
  border-radius: 50px;
  display: block;
  cursor: pointer;
}

.iconn-case .boxes .box .cards .h22 {
  margin-top: 5px;
  font-size: 60px;
  font-weight: 100;

}

.iconn-case .boxes {
  padding: 20px 10px;
  display: flex;
  align-items: center;
}


.iconn-case .boxes a {
  text-decoration: none;
}

.iconn-case .boxes .box {
  padding: 20px 50px;
  display: flex;
  align-items: center;
}

.iconn-case .boxes .box .cards {
  width: 470px;
  height: 100px;
  margin-top: -10%;
  margin-left: -7%;
  border-radius: 50px;
}
.iconn-case .boxes .box .cards .images{ 
  background-image: url(assets/images/student.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}

.iconn-case .boxes .linkk .box .cards .images1{ 
  background-image: url(assets/images/prof.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}
.iconn-case .boxes1 .linkk1 .box1 .cards1 .images2{ 
  background-image: url(assets/images/archived.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}
.iconn-case .boxes .box .cards h2 {
  margin-top: 30px;
  margin-left: 50px;
}

.iconn-case .boxes .box .cards h3 {
  margin-top: 100px;
  background-color: #6893ee;
  height: 50px;
  padding-left: 20px;
  padding-top: 10px;
  animation: slidedown .8s ease-in-out;
}

@keyframes slidedown {
  0%{
    transform: translateY(-60px);
    opacity: .2;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Default styles */

/* ... */

/* Add media query for screens smaller than 768px (mobile devices) */
@media (max-width: 1000px) {

  .iconn-case .boxes {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .iconn-case .boxes .box {
    padding: 20px;
  }

  .iconn-case .boxes .box .cards {
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-right: 200px;
    border-radius: 20px;
  }
  .iconn-case .boxes .box2 .cards {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-right: 400px;
    border-radius: 20px;
  }
  

  .iconn-case .boxes .box .cards .images {
    border-radius: 20px 20px 0 0;
  }

  .iconn-case .boxes .linkk .box .cards .images1 {
    border-radius: 20px 20px 0 0;
  }
}

/*-----------*/




@media (max-width: 1000px) {
  .iconn-case .boxes1 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .iconn-case .boxes1 .box1 {
    padding: 20px;
  }

  .iconn-case .boxes1 .box1 .cards1 {
     width: 100px;
    height: auto;
    margin-right: 200px;
    border-radius: 20px;
    padding-top: 20%;
    padding-right: 45%;

  }

  .iconn-case .boxes1 .box1 .cards1 .images3 {
    border-radius: 20px 20px 0 0;
  }
}










/*---------*/
.iconn-case {
  border-radius: 50px;
  display: block;
  cursor: pointer;
  
}

.iconn-case .boxes1 .linkk1 .box1 .cards1 .images3{ 
  background-image: url(assets/images/class.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}
.boxes1{ 
  margin-top: 10%;
}
.iconn-case .boxes1 .box1 .cards1 .h22{ 
  margin-top: 5px;
  font-size: 60px;
  font-weight: 100;
}
.iconn-case .boxes1 { 
  padding: 20px 10px;
  display:flex;
  align-items: center;
}
.iconn-case .boxes1 a{
  text-decoration: none;
}
.iconn-case .boxes1 .box1{ 
  padding: 20px 50px;
  display: flex;
  align-items: center;
}

.iconn-case .boxes1 .box1 .cards1{ 
  width: 640px;
  height: 200px;
  margin: -50px -25px;
  box-sizing: content-box;


}
.iconn-case .boxes1 .box1 .cards1 h2{ 
  margin-top: 30px;
  margin-left: 50px;
}
.iconn-case .boxes1 .box1 .cards1 h3{ 
  margin-top: 65px;
  background-color: #6893ee;
  height: 50px;
  padding-left: 20px;
  padding-top: 10px;
  animation: slidedown .8s ease-in-out;
}

@keyframes slidedown {
  0%{
    transform: translateY(-60px);
    opacity: .2;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


/*Time and Date*/ 
.boxess{ 
    margin-left: 5%;
    margin-top: 100px;
}
.box2{ 
    height: 100px;
    width: 400px;
    text-align: center;
    margin-left: -30px;
    margin-top: 3%;
    padding-top: 5px;

}
.box2 h2{ 
    font-size: 50px;
    display:inline-flex;
    padding:20px 10px 0px 19px;
}
.box2 h3{ 
  margin-top: 10%;
  font-size: 20px;
  display:inline-flex;
  padding:0px 10px 0px 19px;
}
.box3 {
    padding: 20px;
    transition: 0.3s ease;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(93, 129, 207, 0.5);
    margin-top: -180px;
    margin-left: 40px;
  }
  
.box3:hover {
    background-color: #6893ee;
  }
.box3 h2{ 
    font-weight: 400;
    font-size: 14px;
}
.box3 img{ 
    height: 50px;
    width: 50px;
    align-items: flex-end;
}

.box4 {
    padding: 20px;
    transition: 0.3s ease;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(93, 129, 207, 0.5);
    margin-top: -150px;
    margin-left: 280px;
  }
  
.box4:hover {
    background-color: #6893ee;
  }
.box4 h2{ 
    font-weight: 400;
    font-size: 14px;
}
.box4 img{ 
    height: 50px;
    width: 50px;
    align-items: flex-end;
}
.box4 {
    padding: 20px;
    transition: 0.3s ease;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(93, 129, 207, 0.5);
    margin-top: -150px;
    margin-left: 280px;
  }
  
.box4:hover {
    background-color: #6893ee;
  }
  .box5 {
    padding: 20px;
    transition: 0.3s ease;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(93, 129, 207, 0.5);
    margin-top: -150px;
    margin-left: 520px;
  }
  
.box5:hover {
    background-color: #6893ee;
  }
.box5 h2{ 
    font-weight: 400;
    font-size: 14px;
}
.box5 img{ 
    height: 50px;
    width: 50px;
    align-items: flex-end;
}
.box6 {
    padding: 20px;
    transition: 0.3s ease;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(93, 129, 207, 0.5);
    margin-top: -150px;
    margin-left: 760px;
  }
  
.box6:hover {
    background-color: #6893ee;
  }
.box6 h2{ 
    font-weight: 400;
    font-size: 14px;
}
.box6 img{ 
    height: 50px;
    width: 50px;
    align-items: flex-end;
}
.box7 {
    padding: 20px;
    transition: 0.3s ease;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(93, 129, 207, 0.5);
    margin-top: -150px;
    margin-left: 1000px;
  }
  
.box7:hover {
    background-color: #6893ee;
  }
.box7 h2{ 
    font-weight: 400;
    font-size: 14px;
}
.box7 img{ 
    height: 50px;
    width: 50px;
    align-items: flex-end;
}
.Dele{ 
    text-decoration: none;
    line-height: 30px;
    width: 50%;
    background-color: #6893ee;
    border-radius: 10px;
    color: black;
    margin-left: 10px;
    display:inline-block;
    font-size: 14px;
    align-items: center;
    border: none;
}

/*---------dropdown------------*/
.Dropdoowwnn{ 
    height: 30px;
    width: 200px;
}



/*create*/
.Createeee { 
    height: 500px;
  }
  
  .CD{ 
    height: 80px;
  }
  .session1-input{
    height: 10px
  }
  .commonbuttons{ 
    font-size: 18px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 90%;
  }
  .commonbutton1{ 
    font-size: 18px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 88%;
  }
  .Schedd{ 
    margin-left: 20px;
    background-color: whitesmoke;
    border: 2px solid #6893ee;
    padding-top: 5px;
    padding-left: 12px;
    height: 45px;
    width: 230px;
    border-radius: 10px;
  }
  .Schedd input{ 
    background: none;
    border-radius: 5px;
    padding-left: 5px;
    height: 30px;
  }
  .Schedd1{ 
    margin-left: 20px;
    background-color: whitesmoke;
    border: 2px solid #6893ee;
    padding-top: 5px;
    padding-left: 12px;
    height: 45px;
    width: 210px;
    border-radius: 10px;
  }
  .Schedd1 input{ 
    background: none;
    border-radius: 5px;
    padding-left: 5px;
    height: 30px;
  }
  .Schedd2 { 
    background-color: whitesmoke;
    border: 2px solid #6893ee;
    height: 43px;
    width: 10px;
    padding-top: 5px;
    border-radius: 10px;
  }
  .Schedd2 input{ 
    background: none;
    border-radius: 5px;
    padding-left: 3px;
    height: 30px;
  }
  .Schedd3 { 
    margin-left: -5px;
    background-color: whitesmoke;
    border: 2px solid #6893ee;
    padding-top: 5px;
    padding-left: 12px;
    height: 45px;
    max-width: fit-content;
    border-radius: 10px;
  }
  .Schedd3 input{ 
    background: none;
    border-radius: 5px;
    padding-left: 3px;
    height: 30px;
  }
/*-----Profile------*/
  
/*PROFILE PIC*/
  
/*PROFILE PIC*/
.profile-pic-div{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
  margin-left: 80px;
  /* margin-right: 40px;
  margin-left: 20px; */
}

.profile-pic-div img{
  transform: translateX(-10%);
 
}
#photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  align-self: center;
  padding-left: 50px;  
}


/* #uploadBtnn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
} */
#file{
  display: none;
}
/* .inputss{
    z-index: 9980!important;
} */

  
  /* #file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  } */
  
  #uploadBtn {
    padding-right:50px;
    margin-left: 15px;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    font-family: sans-serif;
    cursor: pointer;
  }

  .UP-Button{
    margin-left: 5%;

  }
  .UP-Button label{
    margin-left: 0px;
    width: 200px;
    padding-left: 45px;
    
  }
  .UP-Button button{
    margin-left: 15px;
    width: 165px;
    padding-left: 15px;
    
  }
.information-prof{
    margin-left: 10%;
}

.accountinfo{
  padding-left:150px;
  margin-top: -10%;
  }
/*------ overview------*/
/* Targeting the BsFillJournalBookmarkFill icon */
.positionr svg{
  /* Add your styles here */
  color: green; /* Change the icon color to green */
  width: 16px; /* Set the width of the icon to 16px */
  height: 16px; /* Set the height of the icon to 16px */
  margin-right: 0.5em; /* Add some space between the icon and the text */
}
.vertical{ 
  border-right: 3px solid ;
  border-radius: 5px;
}
.fil input{ 
  text-decoration: none;
  position:absolute;

}
#file-input {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  align-items: center;
}

.custom-file-upload i {
  margin-right: 5px;
}



