@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

::-webkit-scrollbar-thumb {
  background-color: #6893ee;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-x: hidden;
}

.sidebarcontent::-webkit-scrollbar{ 
  width: 10px; 
}
.sidebarcontent::-webkit-scrollbar-thumb{ 
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
}

button{
  cursor: pointer;
}

.appbody{
  display: block;
  position: relative;
  transition: none;
  padding-bottom: 40px;
  bottom: 0;
  min-height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}

:root{
  --defaultprimary : #6893ee;
  --defaultsecondary: #064273;
  --defaulttertiary: rgb(255, 255, 255);
  --defaultbackground: rgb(243, 242, 242);


  --lighttextprimary: rgb(207, 207, 207);
  --lighttextsecondary: rgb(236, 236, 236);
  --darktextprimary: rgb(58, 58, 58)  ;
  --darktextsecondary: rgb(58, 57, 57);



  --darkthemeprimary: rgb(26, 25, 25);
  --darkthemesecondary: rgb(44, 44, 44);
  --darkthemetertiary: rgb(63, 63, 63);
  --darkthemebackground: rgb(54, 54, 54);

  
  --highlightcolor: rgba(255, 255, 255, 0.164);
  --highlightcolor2:  rgba(0, 0, 0, 0.164);
}

*{
  transition: .6s;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

ul{
  list-style-type: none;
}

svg{
  transform: scale(1.2);
}

.relative{
  position: relative;
}

.default .primary{
  background-color: var(--defaultprimary);
}

.default .secondary{
  background-color: var(--defaultsecondary);
}

.default .tertiary{
  background-color: var(--defaulttertiary);
}


.textcenter{
  text-align: center;
}
.default *{
  color: var(--darktextprimary);
}

.default .lighttext * , .default .lighttext{
  color: var(--lighttextsecondary);
  fill: var(--lighttextsecondary);
}

.default .darktext * , .default .darktext{
  color: var(--darktextprimary);
  fill: var(--darktextprimary);
}

.default .background{
  background-color: var(--defaultbackground);
}

.dark .primary{
  background-color: var(--darkthemeprimary);
}

.dark .secondary{
  background-color: var(--darkthemesecondary);
}

.dark .tertiary{
  background-color: var(--darkthemetertiary);
}

.dark *{
  color: var(--lighttextprimary);
}

.dark .background{
  background-color: var(--darkthemebackground);
}

.lightinset{
  box-shadow: -4px -6px 15px 2px rgba(255,255,255,0.3) inset;
  -webkit-box-shadow: -4px -6px 15px 2px rgba(255,255,255,0.3) inset;
  -moz-box-shadow: -4px -6px 15px 2px rgba(255,255,255,0.3) inset;
}

.borderradius-lg{
  border-radius:  14px;
}

.borderradius-md{
  border-radius: 8px;
}

.blacken{
  background-color: black !important;
}

.rounded , .profileicon img{
  border-radius: 50%;
}

.profileicon> img:hover{
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);

}

.modalbackground-lgt{
  display: block;
  position:absolute;
  height: 100vh;
  width: 100vw;
}

.absolute{
  position: absolute;
}

.editmenu{
  right: 0;
  z-index: 6;
}

.sidebarbody{
  display: block;
  overflow: hidden;
  padding-top: 40px;
  left : 12px;
  position:relative;
  top: 50vh;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 96vh;
  z-index: 12;
  margin-right: 20px;
}

.padding12{
  padding: 12px;
}

.sidebarnotactive{
  width: 0px !important;
  margin-right: 60px;
}

.sidebarclosed{
  height: 240px;
  width: 30px;
  display: block;
  top:30vh;
  transform: translateY(-50%);
  position: absolute;
  z-index: 4;
  overflow: hidden;
  left: 12px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateX(-100%);
  opacity: 0 ;
}

.sidebarclosed svg{
  transform: scale(2);

}

.togglebuttonbody{
  height: 100vh;
  display: block;
  width: 60px;
  position: fixed;
  top: 0;
  z-index: 5;
}

.togglebuttonbody:hover .sidebarclosed{
  opacity: 1 !important;
  transform: translateX(0);
}

.dimmer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarbody img{
  height: 70px;
  margin-bottom: 12px;
  width: 70px;
}

.sidebarcontent{
  padding: 0 12px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  white-space: nowrap;
}

.clear{
  opacity: 0;
}

.sidebarcontent>ul>li{
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;  
}


.sidebarcontent li svg{
   margin-left: 12px;
   margin-right: 12px;
}
.sidebarsubmenu{
  padding-left: 45px;
  font-size: 14px;
  overflow: hidden;
}

.highlight{
  display: block;
  height: 100%;
  width: 0;
  position :absolute;
  right: 40px;
  border-radius: 4px;
  transition: .1s;
}

.sidebarmenu:hover .highlight , .sidebarsubmenu:hover .highlight , .sidebarhighlightactive{
  background-color: var(--highlightcolor);
  border-right: 8px solid rgba(255, 255, 255, 0.459);
  right: 0;
  width: 100%;

}


.sidebarfooter{
  margin-bottom: 5vh;
  margin-top: auto;
}

.sidebarfooter svg{
  transform: scale(1.8);
  cursor: pointer;
}

.sidebarfootertoggle{
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.maincontainer{
  display: flex;
  width: 100%;
}

.content{
  width: 100%;
  padding: 0 20px;
}


.profilenotif{
  display: flex;
  height: 70px;
  width: max-content;
  width: 100%;
  align-items: center;
  transition: none;
}

.studentcount{
  position: absolute;
  top: 12px;
  right: 40px;
}


.pnsearchbar{
  min-width: 30px;
  padding-left: 12px;
  margin-left: 30px;
  display: flex;
  align-items: center;
 
}
.pnsearchbarclosed{
  height: 30px;
  width: 30px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pnsearchbarclosed svg{
  font-size: 14px;
}

.pnsearchbaropen{
  display: block;
  overflow: hidden;
  width: 0;
  margin-right: -12px;
  transition-delay: 1.2s;
}

.pnsearchbar:hover .pnsearchbaropen{
  transition-delay: 0s;
}

.pnsearchbaropen-active {
  width: 200px !important;
}

.pnsearchbaropen input{
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 8px;
  border: none; 
}

.pnsearchbaropen input:focus{
  outline: none;
}
.notificationicon{
  margin-right: 24px ;
}

.notificationicon img{
  height: 20px;
  width: 20px;
}


.profileicon img{
  height: 40px;
  width: 40px;
  margin: 0 24px;
}

.dbannouncements{
  height: 380px;

}

.dbpanelmargin{
  margin-bottom: 20px !important;
}


.db-status {
  height: 210px;
}


.modalbackground{
  position :absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;

}


.themegroupbody{
  display:flex;
  position: absolute;
  height: 45px;
  z-index: 6;
  transform:translateX(-50%);
  border-radius: 14px;
  box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.61);
-webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.61);
-moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.61);
align-items: center;
justify-content: space-around;
}

.themeitem{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.themeactive{
  border: 2px solid rgb(199, 199, 199);
}

.themeitem img{
  transform: scale(.8);
}

.darkicon{
  display: block;
  height: 16px;
  width: 16px;
  background-color: gray;
  border-radius: 50%;
}

.welcomebanner{
  height: 220px;
  padding: 18px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  min-width: 360px;
  overflow: hidden;
}

.welcomebannerdesign{
  position: absolute;
  right: 30px;
  bottom: -30px;
}

.welcomebannerdesign img{
  height: 200px;
}

.welcomebanner *{
  color: white;
    white-space: nowrap;
}

.welcomebanner button {
  padding:  6px 0px;
  width: 30%;
  min-width: 140px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}



.welcomebanner button:hover{
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.attendancepanel , .activitystatuspanel{
  height: 200px;
  padding: 18px;
}

.dbactivitylist{
  padding: 18px;
}

.dbactivitylist>div:first-child{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.activityitem{
  height: 60px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.flexcolumn{
  flex-direction: column;
}

.activityitempic{
  border-radius: 50%;
  height: 40px;
  width: 40px; 
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activityitempic>div{
  border-radius: 50%;
  height: 31px;
  width: 31px;
  text-align: center;
  line-height: 31px;
}

.eventscontainer{
  min-height: 90vh;
}

.calendarcontainer{
  height: 240px;
  margin-bottom: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.announcementscontainer{
  padding : 18px;
  overflow-y: auto;
}

.classlisttimeline{
    height: 200px;
}

.classpanel{
  height: 180px;
  margin-bottom: 12px;
  padding: 8px;
  transition: .1s;
  overflow: hidden;
  cursor: pointer;
}

.classpanelsched button{
  padding: 8px 20px;
  border: none;
  border-radius: 12px;
  font-weight: bolder;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  margin-top: 12px;
}

.title{
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 16px;
}

.classcontainer{
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.classcontainer .row>div{
  align-items: center; 
}

.classpanelheader{
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 120px;
  position: relative;
  transition-delay: .2s;
  background-size:100% 120px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.classpaneltitle{
  padding-left: 6px;
  margin-top: 12px;
  position: relative; 
}

.classpanel:hover , .editmenu li:hover{
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.classpanel:hover .classpanelheader{
  height: 40px;
}

.classpanel:hover .classpanelprofile{
  opacity: 1;
}

.classpanel:hover .classpanelopen{
  opacity: 1;
  margin-left: 0;
  transition-delay: .6s;
}

.classpanel:hover .classpanelclosed{
 transition-delay: 0s;
  opacity: 0;
  margin-bottom: -4px;
}

.classpanelprofile{ 
  position: absolute;
  top: -60px;
  right: -5px;
  opacity: 0;
}

.classpanel img{
  height: 60px;
  width: 60px;
  border-radius: 50%;

}

.classpanel-min{
  min-width: 300px;
}

.classpanelopen{
  margin-top: 12px;
  opacity: 0;
  margin-left: 20px;
}

.classpanelclosed{
  transition-delay: .6s;
}

.classpanelsched{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.classpanelsched>div:first-child{
  height: 150px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.038);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.classcontent{
  display: flex;
  flex-direction: row;
}

.classcontentmain{
  width: 100%;
}

.classheader{
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  align-items: flex-end;
  padding: 16px 20px;

}

.classtitle{
  position: absolute;
  bottom: 30px;
  z-index: 1;
}

.classbanner{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.classheader-lg{
  height: 325px;
}

.classheader-md .classbanner{
  opacity: 0;
}

.classheader-md .classtitle{
  bottom: 15px;
}

.notransition{
  transition: none;
}

.classheader-md{
  height: 90px;
}

.activitylog{
  width: 350px;
  min-height: 90vh;
  padding: 18px;
  margin-left: 20px;
}

.activitysubtitle{
  margin-left: 4px;
}

.space-between{
  justify-content: space-between;
}

.smol{
  font-size: 12px;
}

.activitylog>h4{
  margin-bottom: 24px ;
}

.classcontentsub{
  margin-left: 12px;
  margin-right: 12px;
}

.classnav{
 
  position: sticky;
  padding-top: 12px;
  padding-bottom: 18px;
  

}

.classnav-min{
  min-width: 200px;
}

.classnav ul{
  padding-left: 12px;
  padding-right: 12px;
}

.classnavitem , .classnavsubitem{
  cursor: pointer;
  padding-left: 12px;
  transition: .1s;
}

.classnavitem{
  padding-top: 6px;
  padding-bottom: 6px;
}

.classnavsubitem{
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 20px;
}

.classnavitem:hover,  .classnavsubitem:hover , .classnav-active{
  background-color: rgba(139, 139, 139, 0.349);
  border-right: 6px solid rgba(0, 0, 0, 0.185);
  transition: 0s;
}

.margintop12{
  margin-top: 14px;
}
.margintop4{
  margin-top: 4px;
}

.samplebox{
  height: 200px;
  margin-bottom: 20px;
}

.outletcontainer{
  min-height: 400px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.announcementpanel{
  padding:8px; 
}

.outletcontainer-min{
  min-width: 300px;
}

.announcementheader{
  display: flex;
  margin-bottom: 8px;
}
.announcementheader>div:first-child{
  margin-right: auto;
}

.announcementcontent{
  padding: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  user-select: text;
}


.displaynone{
  display: none;
}

.emptylist{
  display: flex;
  text-align: center;
  height: 100px;
  line-height: 100px;
  justify-content: center;
}



.topicpanel{
  margin-bottom: 12px;
  padding-bottom: 12px;
}



.activityname {
  display: flex;
  align-items: center;
}

.activityname svg{
  font-size: 18px;
  transform: translateY(12%);
  margin-left: 20px;
  margin-right: 4px;
}

.default .activityname svg{
  fill: var(--defaultprimary);
}

.dark .activityname svg{
  fill: var(--darkthemeprimary);
}

.activityname > p:last-of-type{
    font-size: 10px;
}








.personpanel{
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 8px;
}

.default .personpanel{
  border-bottom: 1px solid var(--defaultprimary);
}

.dark .personpanel{
  border-bottom: 1px solid var(--lighttextprimary);
}
.personpanelcontent>p:last-of-type{
  font-size: 13px;
}

.personpanel>div:first-child{
  height: 40px;
  border-radius: 50%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
 
}

.personpanel>div:first-child img{
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.default .personpanel>div:first-child{
  border: 3px solid var(--defaultbackground);
}

.dark .personpanel>div:first-child{
  border: 3px solid var(--darktextprimary);
}

.classinfotitle{
  margin-top: 20px;
  margin-bottom:12px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classinfotitle input{
  padding: 4px 12px;
  border-radius: 6px;
  border: none;
}

.dark .classinfotitle input{
  background-color: var(--darkthemebackground);
  border: 2px solid var(--lighttextsecondary);
}

.default .classinfotitle input{
  border: 2px solid  var(--defaultprimary);
}

.persontable{
  margin-bottom: 40px;
}


.persontable table *{
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}

.default .persontable table tr:nth-child(even){
  background-color: var(--defaultbackground);
}

.dark .persontable table tr:nth-child(even){
  background-color: var(--darkthemebackground);
}

.adminpostpanel{
  height: 100px;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  padding: 8px 12px;
}

.default .adminpostpanel:hover{
  background-color: var(--defaultbackground);
}

.dark .adminpostpanel:hover{
  background-color: var(--darkthemebackground);
}

.adminposticons{
  display: inline;
  margin-right: 12px;
  position: relative;
  height: 40px;
  width: 40px;
}

.adminposticons>div:first-child{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(128, 128, 128, 0.507);
}

.default .adminposticons>div:first-child{
  background-color : var(--defaultbackground);
}

.dark .adminposticons>div:first-child{
  background-color: var(--darkthemebackground);
}

.adminposticons>div:last-of-type{
  position: absolute;
  bottom: -8px;
  right: -8px;
}

.adminposticons>div:last-of-type img{
  height: 25px;
  width: 25px;
  border-radius: 50%;

}

.adminposttitle{
  display: flex;
  gap : 4px;
  align-items: center;
  margin-bottom: 6px;
}

.adminposttitle p{
  font-size: 12px;
}



.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.adminpostcontent p{
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.flex{
  display: flex;
  align-items: center;
}


.activitypanel{
  padding: 12px 20px;

}

.activitypanelsub2{
  white-space: nowrap;
}

.activitypanelcomments{
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
 
}

.activitypanelcomments div{
  gap: 4px;
}

.activitypanel:hover{
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.width100{
  width: 100%;
}



.activitypanel p{
  font-size: 12px;
}

.activitylogpanel{
  display: flex;
  margin-bottom: 35px;

}

.activityicon{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.default .activityicon{
  border: 2px solid var(--defaultprimary);
}

.dark .activityicon{
  border : 2px solid var(--lighttextprimary)
}

.default .activityicon svg{
  fill: var(--defaultprimary);
}

.activityicon svg{
  font-size: 18px;
}



.activitylogicon{
  display: flex;
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: rgba(131, 131, 131, 0.486);
  margin: 0 3px;
}

.activitylogname{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.createNewbutton{
  position: fixed;
  bottom: 30px;
  right: 40px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
  box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.69) inset;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.69) inset;
  -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.69) inset;
}

.createNewbutton svg{
  font-size: 25px;
}

.default .createNewbutton svg{
  fill: white;
}




.blurbackground{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left:  0;
  z-index: 4;
  transition: 0;
  backdrop-filter: blur(2px);
}

.createnewModal{
 min-height: 600px;
 padding: 20px;
}

.fullwidth{
  width: 100%;
  position: fixed;
  min-height: 600px;
  z-index: 5;
  top : 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.navcreatenew{
  height: 45px;
  cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 6px;
}

.classSelectionitem ,.studentSelectionitem{
  display: flex;
  gap: 12px;
  align-items: center;
  transition: none;
  padding: 8px 12px;
}




.classSelectionitem input{
  transform: scale(1.4);

}

.default .classSelectionitem:hover{
background-color: var(--defaultprimary);
}

.dark .classSelectionitem:hover{
  background-color: var(--darkthemeprimary);
}

.classSelectionitem>div p{
  font-size: 12px;
}

.marginleft10{
  margin-left: 9px;
}


.editactivityfooter{
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.editactivityfooter button{
  font-size: 17px;
}


.createactivitytitle input[type=text], .createactivitytitle input[type=datetime-local] , .createactivitytitle textarea, .createactivitytitle select
,.commontextarea{
  padding: 6px 12px;
  width: 80%;
  border-radius: 8px;
  resize: none;
  margin-bottom: 4px;
}

.commontextarea{
  padding: 6px 12px;
  width: 100%;
  border-radius: 8px;
  resize: none;
  margin-bottom: 4px;
}

.createactivitytitle input[type= number]{
  padding: 6px 12px;
  width: 60px;
  border-radius: 8px;
  margin-bottom: 4px;
}


.default .primaryborder{
  border: 3px solid  var(--defaultprimary);
}

.dark .primaryborder , .dark .commontextarea{
  border: 3px solid var(--darkthemeprimary);
}

.dark .createactivitytitle select ,.dark .createactivitytitle input , .dark .createactivitytitle textarea{
  background-color: var(--darkthemebackground);
}

.createactivitytitle select option{
  padding: 80px 0px;
}



.createactivityfooter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.createactivityconfirm{
  padding: 16px 0px;
  width: 50%;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.uploadpanel{
  margin: 12px;
  height: 100px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  
}
.uploadpanel svg{
  font-size: 24px;
}


.uploadedfile{
  padding: 12px 20px;
  width: 300px;
  gap : 20px;

}


.postannouncementclosed{
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
}
.postannouncementcontainer{
  padding: 6px 12px;
  font-size: 14px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

}

.postannouncementbody button{
  position: absolute;
  right: 20px;
  top: 50%;
  background-color: black;
}

.postannouncement{
  min-height: 80px;
  display: flex;
  flex-direction: column;
}

.postannouncementfooter{
  margin-top: auto;
  justify-content: flex-end;
}


.dropdowncontainer{
  position: relative;
}
.dropdowncontrol{
  padding: 6px 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between; 

  cursor: pointer;
  border: none;
  outline: none;
}

.dropdownmain{
  position: relative;
  transition: none;
  width: 100%;
}

.sendbutton{
  position: absolute;
  bottom: 12px;
  right: 30px;
  transform: translateY(-50%);
}



.dropdownmain-active{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdownmenu{
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  left: 0;
  z-index: 4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdownitem{
  border-radius: 3px;
  padding: 6px 12px;
}

.dark .dropdownitem:hover{
  background-color: var(--darkthemebackground);
}

.default .dropdownitem:hover{
  background-color: var(--defaultbackground);
}

.spacebetween{
  justify-content: space-between;
}

.marginleftauto{
  margin-left: auto;
}

.marginleft12{
  margin-left: 12px;
}

.profilemodal{
  display: flex;
  flex-direction: column;
  height: 290px;
  width: 270px;
  position: absolute;
  z-index: 5;
  right: 0;
  transform: translateX(-12%);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  justify-content: center;
  align-items: center;
}

.commonbutton{
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  margin: 4px;
  font-weight: bold;
}

.profilemodal img{
  transform: scale(2);
  margin-bottom: 30px;
}

.default .profilemodal button{
  color: var(--lighttextprimary);
}




.profilepanelmain img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 12px;
}

.profilepanelmain, .currentsempanel{
  overflow: hidden;
  padding: 12px 20px;
}

.accountinfo{
  margin-left: 132px;
}

.accountinfo p{
  margin-bottom: 4px;
}

.profilesettings{
  position: absolute;
  right: 30px;
  top: 30px;
  transform: scale(1.6);
}

.width200px{
  min-width: 200px;
}

.profilesettingsdropdown{
  position: absolute;
  top: 60px;
  right: 12px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
padding: 12px;
}

.profiledropdownitem{
  padding: 4px 8px;
  border-radius: 3px;
}

.default .profiledropdownitem:hover{
  background-color: var(--defaultbackground);
}

.dark .profiledropdownitem:hover{
  background-color: var(--darkthemebackground);
}

.studentlistgear{
  position :absolute;
  top: 14px;
  right: 12px;
}

.createactivitystudentlist{

  max-height: 0;
  margin-right: 20px;
  overflow:hidden;
  margin-left: 30px;  
}

.createactivitystudentlist-active{
  max-height: 300px;
  overflow: auto;
}

.default .createactivitystudentlist{
  border-left: 4px solid var(--defaultprimary);

}

.dark .createactivitystudentlist{
  border-left: 4px solid var(--darkthemeprimary);
}

.smallfont{
  font-size: 11px;
}
.marginright12{
  margin-right: 12px;
}

.activitydescription, .activitycontent{
  width: 90%;
  padding: 12px;
  margin-bottom: 12px;
}

.materialpanel{
  height: 110px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  font-size: 11px;
  gap: 8px;
}

.materialpanel:hover , .questionnairepanel:hover , .questionnairepanel button:hover , .submissionpanel button:hover
,.createtopicmodal
{
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.materialpanel svg{
  font-size: 45px;
}

.default .materialpanel svg{
  fill: rgb(169, 230, 169);
}

.questionnairepanel{
  height: 160px;
  width: 200px;
  flex-direction: column;
  padding: 12px;
}

.questionnairefooter{
  margin-top: 20px;
}

.questionnairefooter button{
  margin-left: auto;
  margin-right: auto;
  padding:  6px 12px;
  border: none;
  border-radius: 8px;
  color: #e2e4fa;
  font-weight: bold;
}

.activitycomments{
  margin-top: 20px;
  margin-bottom: 40px;
}


.activitytab{
  padding :4px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius:8px;
  height: 45px;
  cursor: pointer;
}

.activitysettings{
  position: absolute;
  display: block;
  width: 230px;
  top: 40px;
  left: 0;
  z-index: 2;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  
}


.submissionpanel{
  padding : 12px;
  min-height: 200px;
  margin-top: 12px;
}

.submissionpanel>div{
  flex-direction: column;
  padding-top: 20px;
  gap : 20px;

}

.submissionpanel button{
  padding :8px 0px;
  border: none;
  border-radius: 4px;
  width: 80%;
  font-weight: bold;
  color: #e2e4fa;
}

.commentbutton{
  transform: scale(.7);
  display: none;
  margin-top: -6px;
  margin-bottom: -6px;
 
}

.commentheader:hover .commentbutton{
  display: block !important;
}

.submissionpanel button:disabled{
  background-color: var(--darktextprimary);
}

.attendancecontainer{
  min-height: 400px;
  overflow: auto;
  position: relative;
  margin-bottom: 12px;
  
}
.attendancecontainer::-webkit-scrollbar {
  width: 20px;
}
.attendancecontainer::-webkit-scrollbar-track {
  background-color: transparent;
}
.attendancecontainer::-webkit-scrollbar-thumb {
  background-color: #6893ee;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.attendancecontainer::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.attendancetable{
  table-layout: fixed;
  position: absolute;
  margin-top: 10px;
  text-align: left;
  border-collapse: collapse; 
  
 
}

/* .attendancetable>th:first-child{
  background: red;
  position: sticky;
  left: 0;
} */
.stickheader{
  
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    z-index: 3;
   left: 0;


}
.attendancetable>tr>td:first-child{

  position: sticky;
  left: 0;
}
.attendancetable tr th{ 
  padding-left: 40px;
}
.attendancetable .th { 
  position: fixed;
}
.Calendar{ 
  text-decoration: none;
  background-color: #6893ee;
  color: black;
  border: none;
  height: 30px;
  width: 130px;
  margin-left: 30px;
}
.Calendar .date{ 
  border: none;
  background-color: #e2e4fa;
}
.Searrchh{ 
  display: flex;
}
.search1{ 
  margin-left: 70%;
}
.search1 input{ 
  width: 200px;
  height: 33px;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Century Gothic';
  text-align: center;
  border-color: #6893ee;
}
.temp2{
  position: sticky;
  width: 200px;
  height: 39px;
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
  border-radius: 50px;
  background-color: #6893ee;
  overflow-y: visible;
  display: block;

}

.attendancetable thead{
  width: 20px;
  text-align: center;
  font-size: 14px;
  border: 5px;
  overflow: hidden;
  position: absolute;
  display: block;
}


.tdname{
  padding: 0px 8px;
  gap: 8px;
  width: 200px;
  z-index: 2;
  display: block;
  white-space: nowrap;
  position:sticky;

}

.tdname img{
  height: 35px;
  width: 35px;
  border-radius: 50%;

}

.materialcontent{
  overflow: hidden;
  max-height: 0;
}

.materialcontent>div{
  padding: 12px;
}


.materialcontent-active{
  max-height: 230px !important;
}

.postsourcematerial{
  position: absolute;
  top: 0;
  right: 0;
}

.postsourcematerial button{
  color: var(--lighttextsecondary);
}

.adminheader{
  height: 180px;
  align-items: flex-end;
  padding: 12px;
  background-image:url('./assets/images/BSIT1.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.overviewpanel, .overviewlist{
  padding: 12px;
}

.overviewpanel{
  height: 180px;
}

.overviewlist{
  min-height: 200px;
}

.commonpanel{
  min-height: 200px;
  padding: 12px;
}

.commontextbox{
  width: 100%;
  padding: 4px 12px;
  border-radius: 4px;
  margin: 8px;
}

.commontextboxplaceholder{
  position:absolute;
  pointer-events: none;
  padding: 0px 14px;
  transition: .6s;
  font-style: italic;
}

.textplaceholder-lg{
 
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.textplaceholder-sm{
  top: 15%;
  left: -10px;
  transform: translateY(-50%) scale(.7);

}

.adminupdatepanel{
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}


.createtopicmodal{
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 200%;
  transform:  translate(-50% ,100%);
  height: 200px;
  z-index: 12;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}


.infobox{
  margin: 0px 12px;
  position: relative;
 
}

.infobox-content{
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.658);
  color: var(--lighttextprimary);
  position: absolute  ;
  z-index: 4;
  right: 0;
  top: 20px;
  width: 250px;
 
  display: none;
}

.infobox:hover .infobox-content{
  display: flex !important;
}


.messagespage > div:first-child{
  max-height: 800px;
  overflow: auto;


}

.chatmessage{
  display: flex;
}



.mychat .chatmessage{
  flex-direction: row-reverse;
  margin-left: auto;
}

.mychat .chatdate{
  display: none;
}
.chatdate{
  margin-left: auto;
}

.mychat .chatmessagecontent h5{
  margin-left: auto;
}

.mychat .chatmessagecontent p{
  text-align: right;
}

.chatmessage img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin:  0px 12px;
  
}

.chatmessage> p{
  margin: auto;
}

.chatmessagecontent{
  max-width: 70%;

}
.chatmessagecontent h5{
  margin-right:  12px;
}

.deletechat{
  margin-top: 12px;
  margin-right: 20px;
  display: none;
 
}

.chatmessage:hover .deletechat{
  display: block;
}

.adminmodal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.288);

}



.modal-body{
  height: 400px;
  width: 700px;
  margin-bottom: 100px;
  
  animation:  fadein .6s;
  position: absolute;
  z-index: 13;

}

.modal-body .sideoption{
  width: 50%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.sideoption svg{
  font-size: 70px;
  transition: none;
}

.default .sideoption:hover{
  background-color: var(--defaultprimary);
}
.dark .sideoption:hover{
  background-color: var(--darkthemeprimary);
}

.default .sideoption:hover h2{
  color: white;
}

.default .sideoption:hover svg{
  fill : white;
}





@keyframes fadein{
  0%{
    transform: translateY(-20%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.themeimageminwidth{
  min-width: 200px;

}

.themeimage{
  border-width: 2px;
  border-radius: 8px;
  height:80px;
  margin: 6px;
  overflow: hidden;
  padding: 8px;
  transition: none;
  

}


.themeimage img{
  height: 100%;
  width: 100%;
}


.schoolyearbutton{
  transform:translateY(4px);
}

.schoolyearoption{
  position: absolute;
  top: 30px;
  z-index: 2;
  right: 0;

  width: 200px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}


.archiveselection{
  width: 0px;
  overflow: hidden ;
  min-width: 0px;

}

.archiveselectionactive{
  width: 290px !important;
  min-width: 290px !important;
  
}

.archiveselection li{
  margin :  8px 12px;
  border-bottom:  2px solid gray;
  white-space: nowrap;
  padding-right: 40px;
}

.archiveselectionactive .archiveselection li{
  padding: 0px !important;
  margin-left: -12px;
}


.postmodule{
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}



































@media screen and (max-width: 600px) {
  .sidebarbody{
    position: fixed;
    left: 0;
    border-radius: 0;
    height: 100vh;  
  }
  .sidebarclosed{
    left: 0;
  }
  .profilenotifcontent{
    display: none;
  }

  .profilenotif{
    width: 100vw;
    margin-left: -20px;
    margin-bottom: 20px;
  }

  .pnsearchbar , .activitylog , .activityiconcontainer{
    display: none;
  }



}

