.BarChart{

  margin-left: 55px;
}

.DonutChart{
  margin-top: 30px;
}
.LineChart{
  margin-left: 120px;
  margin-top: 20px;
<<<<<<< HEAD
}
.area{
  margin-left: 120px;

}
.paneladd{
  height: 210px;
  
=======
>>>>>>> 65fa4a82e0872fcb728499b7f57bd8a319781dfe
}