.Backgroundlog{
	box-sizing:border-box;
	height: 100vh;
	width: 100vw;
    background-image:url('./assets/images/Backgroundlogin1.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: -60px;
  background-position: center;
}

.Logincontainer{
    max-width: 420px;
	max-height: 520px;
	background: #2d444a;
	top: 50%;
	left: 40%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing:border-box;
	padding: 70px 30px;
	border-radius:25px;
	font-family:"Century Gothic" , sans-serif;
    opacity: 0.8;
    float: left;
    
    
}

.Logincontainer .avatar{
            
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: absolute;
		top: -50px;
		left: calc(50% - 50px);
}

.Logincontainer h1 {
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size: 22px;
}
.Logincontainer h2 {
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size: 15px;
}

.Logincontainer label{
	padding:0;
	font-weight:bold;

}

.Logincontainer input{
	width:100%;
	margin-bottom:40px;
}

.Logincontainer input[type="text"], input[type="password"]{
	border:none;
	border-bottom: 1px solid  #fff;
	background: transparent;
	outline:none;
	height: 40px;
	color: Black;
	font-size: 16px;
	background-color:#fff;
	border-radius:10px;
	padding-left: 10px;
}

.Logincontainer button{
	border:none;
	outline: none;
	height: 40px;
	color: white;
	font-size: 18px;
	border-radius:20px;
	width:100%;

}

.Logincontainer button:hover{
	cursor: pointer;
	color: #fff;
	background:#ec0000;

}

.Logincontainer a{
	text-decoration: none;
    font-size: 12px;
    line-height: 40px;
    color: rgb(0, 0, 0);

}

.Logincontainer a:hover
{
    color: #fd0404;
}

.logotext{
    float: right;
    padding-top: 100px;
    
}
.logotext h1{
    margin-top: 60%;
    margin-right: 20%;
	padding:0 0 20px;
	text-align:center;
	font-size: 42px;
    position: absolute;

}

.logotext .avatar{

        width: 400px;
		height: 400px;
		border-radius: 50%;
		position: absolute;
        right: 30%;
       
		
		
}

.form-group-form .errortext{
	color: #fd0404;
	font-size:20px;
}


/*-----------Quiz-----------*/
.QuizData { 
	background: #6893ee;
	height: 160px;
	text-align: center;
	width: 70%;
	border-radius: 20px;
	margin-left: 15%;
}
.Data{ 
	padding-top: 12px;
}
.QuizData input{ 
	text-decoration: none;
	background: none;
	height: 60px;
	width: 700px;	
	padding: 0px 5px 0px 10px;
	border: none;
	outline: none;
	border-bottom: 2px solid #fff;
	border-radius: 10px;
	font-size: 20px;
	color: black;
}
.Ques{ 
	text-align: center;
	margin-top: 20px;
	height: 150px;
	width: 70%;
	margin-left: 15%;
	border-radius: 20px;
}
.Ques input{
	text-decoration: none;
	background: none;
	height: 60px;
	width: 600px;	
	border: none;
	border-radius: 10px;
	border: none;
	outline: none;
	border-bottom: 2px solid #fff;
	font-size: 16px;
}
.Lahaat{ 
	padding-top: 30px;
}
.Tion{ 
	padding-top: 12px;
}
.All{ 
	background: #b5caf8;
	width: 1180px;
	margin-left: 15%;
	margin-top: 10px;
	font-size: 16px;
	border: none;
	outline: none;
	border-bottom: 2px solid #fff;
	border-radius: 10px;
}
.All .textt{
	text-decoration: none;
	background: none;
	height: 60px;
	width: 700px;	
	border: none;
	outline: none;
	border-bottom: 2px solid #fff;
	border-radius: 10px;
	font-size: 20px;
	color: black;
	margin-left: 10%;
}
.All .Opt{ 
	text-decoration: none;
	background: none;
	height: 30px;
	width: 100px;	
	border: none;
	outline: none;
	border-bottom: 2px solid #fff;
	border-radius: 10px;
	font-size: 20px;
	color: black;
	margin-left: 5%;
}
.All .Opt2{ 
	text-decoration: none;
	background: none;
	height: 30px;
	width: 500px;	
	border: none;
	outline: none;
	border-bottom: 2px solid #0004fa;
	border-radius: 10px;
	font-size: 20px;
	color: black;
	margin-left: 20%;
	margin-top: 10px;
}
.All .Opt3{ 
	text-decoration: none;
	background: none;
	height: 20px;
	width: 80px;	
	border: 2px solid #fa0000;
	border-radius: 10px;
	font-size: 14px;
	color: black;
	margin-left: 2%;
	margin-top: 10px;
}
.All .Opt4{ 
	text-decoration: none;
	background: #3171fc;
	height: 30px;
	width: 200px;	
	border-radius: 10px;
	font-size: 14px;
	border: none;
	color: black;
	margin-left: 64%;
	margin-top: 10px;
}
.All .Opt5{ 
	text-decoration: none;
	background: #4b72c5;
	height: 30px;
	width: 200px;	
	border-radius: 10px;
	font-size: 14px;
	border: none;
	color: black;
	margin-left: 20%;
	margin-top: 10px;
}
.All .Opt6{ 
	text-decoration: none;
	background: #4b72c5;
	height: 30px;
	width: 200px;	
	border-radius: 10px;
	font-size: 14px;
	border: none;
	color: black;
	margin-left: 80%;
	margin-top: 10px;
}
.All .Opt7{ 
	text-decoration: none;
	background: #4b72c5;
	height: 30px;
	width: 200px;	
	border-radius: 10px;
	font-size: 14px;
	border: none;
	color: black;
	margin-left: 40%;
	margin-top: 10px;
}

