.Backgroundlog{
	box-sizing:border-box;
	height: 100vh;
	width: 100vw;
    background-image:url('./assets/images/Backgroundlogin1.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: -60px;
  background-position: center;
}

.Logincontainer{
    max-width: 420px;
	max-height: 520px;
	background: #2d444a;
	top: 50%;
	left: 40%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing:border-box;
	padding: 70px 30px;
	border-radius:25px;
	font-family:"Century Gothic" , sans-serif;
    opacity: 0.8;
    float: left;
    
    
}

.Logincontainer .avatar{
            
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: absolute;
		top: -50px;
		left: calc(50% - 50px);
}

.Logincontainer h1 {
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size: 22px;
}
.Logincontainer h2 {
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size: 15px;
}

.Logincontainer label{
	padding:0;
	font-weight:bold;

}

.Logincontainer input{
	width:100%;
	margin-bottom:40px;
}

.Logincontainer input[type="text"], input[type="password"]{
	border:none;
	border-bottom: 1px solid  #fff;
	background: transparent;
	outline:none;
	height: 40px;
	color: Black;
	font-size: 16px;
	background-color:#fff;
	border-radius:10px;
	padding-left: 10px;
}

.Logincontainer button{
	border:none;
	outline: none;
	height: 40px;
	color: white;
	font-size: 18px;
	border-radius:20px;
	width:100%;

}

.Logincontainer button:hover{
	cursor: pointer;
	color: #fff;
	background:#ec0000;

}

.Logincontainer a{
	text-decoration: none;
    font-size: 12px;
    line-height: 40px;
    color: rgb(0, 0, 0);

}

.Logincontainer a:hover
{
    color: #fd0404;
}

.logotext{
    float: right;
    padding-top: 100px;
    
}
.logotext h1{
    margin-top: 60%;
    margin-right: 20%;
	padding:0 0 20px;
	text-align:center;
	font-size: 42px;
    position: absolute;

}

.logotext .avatar{

        width: 400px;
		height: 400px;
		border-radius: 50%;
		position: absolute;
        right: 30%;
       
		
		
}

.form-group-form .errortext{
	color: #fd0404;
	font-size:20px;
}


/*-----------Quiz-----------*/

.Quiz-Header{
padding: 20px;
border-radius: 40px;
width:auto;
text-align: center;
}
.Quiz-Header input{ 
text-align: center;
}


.quiz-text{ 
	
	font-size: 25px;
}
.quiz-input-text{
	height: 40px;
}
.samplebox2{
	height: 80px;
}
.Questions-Options .Ques{ 
	border-bottom: 2px solid #fff;	

}
.Questions-Options{
	width: 70%;
	margin-left: 250px;
	border-radius: 10px;
}
.flex .textttt{ 
	width: 100%;
}


.resetpass1{ 
	max-width:100px;
	max-height:520px;
    margin-top: 15%;
	
	margin-left: 25%;
	
  }
  .resetpass1 button{ 
	width: 300px;
	margin-top: 5%;
	margin-left: 350px;
	margin-bottom: 100px;
	
  }
  
  .resetpass1 input{ 
  width: 500px;
  height: 35px;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Century Gothic';
  padding-left: 10%;
  border-color: #6893ee;
  margin-top: 5%;
	margin-left: 250px;
  }